**/.git
**/.gitignore
**/node_modules
**/.angular
**/dist
**/.venv
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.env
**/.env.*
!**/.env.example
**/docs
**/*.md
**/.vscode
**/.idea
